body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  }
  
#imageContainer{
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 20px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-align: center;
}
  .image{
    width: 250px;
  }